{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'portfolio' %}">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="https://www.github.com/stemcreations">GitHub</a></li>
                <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>© 2023 <a href="{% url 'home' %}">Stem Creations</a> - All Rights Reserved.</p>
        </div>
    </div>
    
</footer>