{% load static %}

<div class="nav-bar-container">
    <a href="{% url 'home' %}">
        {% include 'logo_svg.html' %}
    </a>
    <ul class="nav-bar-btn-container">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'portfolio' %}">Projects</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <input id="toggle" type="checkbox"></input>
    <label for="toggle" class="hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
      </label>

      <div class="nav">
        <div class="nav-wrapper">
          <nav>
            <a href="{% url 'home' %}">Home</a><br>
            <a href="{% url 'portfolio' %}">Projects</a><br>
            <a href="{% url 'about' %}">About</a><br>
            <a href="{% url 'contact' %}">Contact</a>
          </nav>
        </div>
      </div>
</div>
