@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --color-main: #999999;
    --color-main-light: #bebebe;
    --color-dark: #333333;
    --color-dark-light: #666666;
    --color-dark-medium: #4d4d4d;
    --color-light: #e5e5e5;
    --color-light-gray: #b2bdbd;
    --color-gray: #8b8b8b;
}

* {
    font-family: "DM Sans", -apple-system, BlackMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark-medium);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

p {
    color: var(--color-dark-medium);
    margin: 0;
    padding: 0;
}

p a {
    color: var(--color-dark-medium);
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    float: left;
    margin: 0 10px;
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--color-dark-medium);
}

ul li:hover {
    border-bottom: 2px solid var(--color-gray);
}

.nav-bar-btn-container {
    display: flex;
    align-items: end;
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--color-light);

}

.bottom-divider {
    border-bottom: 1px solid var(--color-dark-medium);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: var(--color-light);
    padding: 20px;
    text-align: center;
    height: 100px;
    margin-top: 25px;
}

.footer-left {
    display: flex;
    align-items: end;
}

.footer-right {
    display: flex;
    align-items: end;
}

.nav-bar-container svg {
    height: 125px;
    margin-top: 20px;
    margin-left: 20px;
}

.nav-bar-container svg path {
    fill: var(--color-dark-medium);
}