@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --color-main: #999999;
    --color-main-light: #bebebe;
    --color-dark: #333333;
    --color-dark-light: #666666;
    --color-dark-medium: #4d4d4d;
    --color-light: #e5e5e5;
    --color-light-gray: #b2bdbd;
    --color-gray: #8b8b8b;
}

* {
    font-family: "DM Sans", -apple-system, BlackMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

body {
    background-color: var(--color-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--color-light);

}

.nav-bar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-color: #727272;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.nav-bar-container svg {
    height: 125px;
    margin-top: 20px;
    margin-left: 20px;
}

.nav-bar-container svg path{
    fill: var(--color-dark-medium);
}
