{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="portfolio-container">

    <ul class="flex-list">
        <li class="project-card">
            <div class="project-card-container">
                <div class="project-card-image">
                    <img src="{% static 'images/logo_l.png' %}" alt="Project Image">
                </div>
                <div class="project-card-content">
                    <h3>Project Title</h3>
                    <p>Project Description</p>
                    <a href="#">View Project</a>
                </div>
            </div>
        </li>
        <li class="project-card">
            <div class="project-card-container">
                <div class="project-card-image">
                    <img src="{% static 'images/logo_l.png' %}" alt="Project Image">
                </div>
                <div class="project-card-content">
                    <h3>Project Title</h3>
                    <p>Project Description</p>
                    <a href="#">View Project</a>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock content %}