{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="portfolio-container">

    <ul class="flex-list">
        <div class="project-card">          
            <div class="project-card-image-container">
                    <img src="{% static 'images/logo_l.png' %}" alt="Project Image">
            </div>
            <div class="project-card-content">
                <h3>EZ Salt</h3>
                <p>Project Description</p>
                <a href="#">View Project</a>
            </div>
        </div>
        <div class="project-card">          
            <div class="project-card-image-container">
                    <img src="{% static 'images/background3.jpg' %}" alt="Project Image">
            </div>
            <div class="project-card-content">
                <h3 class="project-name">Green Thumb</h3>
                <p class="project-description">Project Description</p>
                <a  href="#"><div class="project-details-btn">View Details</div></a>
                
            </div>
        </div>
        <div class="project-card">          
            <div class="project-card-image-container">
                    <img src="{% static 'images/logo_l.png' %}" alt="Project Image">
            </div>
            <div class="project-card-content">
                <h3>Toadcraft Designs</h3>
                <p>Project Description</p>
                <a href="#">View Project</a>
            </div>
        </div>
        <div class="project-card">          
            <div class="project-card-image-container">
                    <img src="{% static 'images/background3.jpg' %}" alt="Project Image">
            </div>
            <div class="project-card-content">
                <h3 class="project-name">Green Thumb</h3>
                <p class="project-description">Project Description</p>
                <a  href="#"><div class="project-details-btn">View Details</div></a>
                
            </div>
        </div>
    </ul>
    <div>
        <a href="#">View All</a>
    </div>
</div>

{% endblock content %}